.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(66, 66, 66);
}
.card-body{
    background: rgb(63, 61, 61);
}
.card-text{
    background: rgb(63, 61, 61);
}
.card-title{
    color: white;
}
.b{
    background: green;
}
.b:hover{
    background: lightgreen;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}